/*Обнуление стилей*/
*,
::before,
::after {
  padding: 0;
  margin: 0px 0px 0px 0px;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

/*===================================================================================================*/

/* Прижатие footer'a */

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
[class*='__container'] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===================================================================================================*/

body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.header-left {
  display: flex;
}
.header-left-text {
  margin-left: 16px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-left-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.header-left-subtitle {
  color: #9d9d9d;
  opacity: 0.5px;
}

.header-right {
  display: flex;
  gap: 30px;
}

.header-right-item {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.content {
  padding: 40px;
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}
.sneakers {
  display: flex;
  flex-wrap: wrap;
  gap: 53px;
}

.search-block {
  border: 1px solid #f3f3f3;
  display: flex;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 13px;
    right: 15px;
  }
}
.search-input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  overflow: auto;
  width: 420px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  img {
    cursor: pointer;
  }
  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
  }
  .items {
    overflow: auto;
  }
}
.drawer-items {
}

.menuTotalBlock {
  margin-bottom: 40px;
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
}
.cartItemImg {
  height: 70px;
  width: 70px;
  // background-image: url('../public/img/sneakers/1.jpg');
  background-size: contain;
  background-position: 0 10px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.cartTotalBlock {
  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }

  .greenButton {
    width: 100%;
    height: 55px;
    border-radius: 18px;
    background: #9dd458;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: lighten(#9dd458, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }
  }

  .menuTotalBlockItem {
    align-items: flex-end;
    display: flex;
    margin-bottom: 20px;
  }

  .cartItem-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    p {
      font-size: 16px;
      margin: 0;
    }
    b {
      font-size: 14px;
    }
  }

  .cartItem-img-1 {
    margin-right: 20px;
  }

  .cartItem-btn-remove {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .items {
    flex: 1;
  }
}

.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    margin-bottom: 50px;
  }
  h2 {
    font-weight: bold;
    margin-top: 30px;
  }
  .greenButton {
    width: 75%;
    height: 45px;
    border-radius: 18px;
    background: #9dd458;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: lighten(#9dd458, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }
  }
  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(-5px);
      }
    }
    img {
      position: absolute;
      left: 30px;
      top: 16px;
      transition: transform 0.2s ease-in-out;
    }
  }
}
